<app-navbar [hideSearchForm]="true"></app-navbar>

<div class="m-4  animated fadeIn fast">
    <h1>About</h1>
    <hr class="m-3">
    <p class="lead"> 
        La página que se desarrollará será una aplicación de una sola página (SPA) utilizando Angular y Typescript. Esta aplicación permitirá realizar un mantenimiento de superhéroes, sin necesidad de un backend.
        La aplicación tendrá un servicio que gestionará la información de los superhéroes, permitiendo consultar todos los héroes, uno específico por su id, o aquellos cuyo nombre contenga un valor enviado en la petición. También permitirá modificar y eliminar superhéroes, y opcionalmente se podrá realizar pruebas unitarias para este servicio.
        Además, la página contará con un componente que utilizará el servicio mencionado anteriormente. Este componente mostrará una lista paginada de superhéroes con botones para añadir, editar y borrar. También habrá un campo de búsqueda para filtrar los héroes por nombre. Al añadir un nuevo héroe, se mostrará un formulario con validaciones. Al editar un héroe, se mostrará un formulario con sus datos para modificarlos. Al borrar un héroe, se solicitará confirmación antes de eliminarlo. También se podrán realizar pruebas unitarias para este componente, de forma opcional.
        En cuanto a los puntos opcionales de mejora, se podrán utilizar Angular Material para mejorar el aspecto visual, implementar rutas y navegación en la página, dockerizar la aplicación, agregar un interceptor para mostrar un elemento de carga durante ciertas operaciones, implementar una directiva para que el nombre del héroe siempre se muestre en mayúsculas, utilizar un mockserver para simular llamadas HTTP sin un backend, y establecer comunicación entre componentes orientada a eventos.
        En resumen, la página será una aplicación web que permitirá gestionar superhéroes, con funcionalidades de añadir, editar, y borrar, así como filtrar por nombre, todo ello implementado utilizando Angular y Typescript.
    </p>
</div>